Package: boost-bitrate
Version: 0.0.5
Maintainer: funnel
Description: Increases bitrate up to 30/60Mbits/s, possibly at the cost of higher latency, worse penetration and higher bitrate instability.
Homepage: https://github.com/funneld/djifpv_boost_bitrate
Architecture: pigeon-glasses
Depends: wtfos-modloader
